
<div id="wrapper">
	<%= render "partials/navigation" %>

	<div id="testimony-wrapper">
		<div id="testimony-header">
			<h1 class="dg">Testimonials</h1>
		</div>

		<div id="testimony">
			<div>
				<p class="thin"><span class="blue big">Jen &amp; Rob</span>
					<br/>
			"Our special day was September and thanks to Vows, it was perfect."
				<br/>
				<br/>

					<span class="contact-navigation show-testimony" >read testimonial</span>

				</p>
			</div>
			<div>
			<p class="thin"><span class="blue big">Rhonda &amp; Maynard</span>
				<br/>
			"I am writing to you Avery to thank you for the great job you did for us in
					our wedding planning."


				<span class="contact-navigation show-testimony" >read testimonial</span>
				<span class="contact-navigation show-testimony" >read testimonials</span>
			</div>
		</div>
		<div id="testimony-sm">
			<a href="http://www.pinterest.com/vowseventsdenvr/" target="_blank" class="no_bar">
				<span class="pint"></span>
			</a>
			<a href="https://twitter.com/VowsEventsDenvr" target="_blank" class="no_bar">
				<span class="fbook"></span>
			</a>
			<a href="https://www.facebook.com/vowsevents" class ="no_bar" target="_blank">
				<span class="twit"></span>
			</a>	
		</div>
	</div>
</div>
<div id="footer">
	<p class="thin blue">&copy; Vows Events, 2013</p>
</div>

