
	<div id="full_black_background">
		<div id="back_to_testimony">
			<a href="testimony.html" class="no_bar"><h2> Back to Testimony <h2></a>
		</div>
		<div id="pdf_display">
			<iframe src=<%= Image.find(@jen_rob.image_id).s3_image_url.url(:medium) %> style="width: 1000px; height:600px;" frameborder="0"></iframe>
		</div>
	</div>
