<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,600,700,700italic' rel='stylesheet' type='text/css'>
	<title>Home</title>
</head>

<body>
	<div id="wrapper">
		
		<div id="header">
			<div class="navigation" id="navigation">
				<div class="logo_small hide" id="logo-menu">
					<img src="assets/logo_small.png" alt="Vows Events Logo">
				</div>
				<div id="nav-gallery" class="hide">
					<a href="#" class="no_bar">
						<h1 class="header">Gallery</h1>
					</a>
				</div>
				<div id="nav-services">
					<a href="#" class="no_bar">
						<h1 class="header">Services</h1>
					</a>
				</div>
				<div id="nav-about_us" class="hide">
					<a href="#" class="no_bar">
						<h1 class="header">About Us</h1>
					</a>
				</div>
				<div id="nav-testimony" class="hide">
					<a href="#" class="no_bar">
						<h1 class="header">Testimony</h1>
					</a>
				</div>
				<div class="logo" id="logo-big">
					<img src="assets/logo.png" alt="Vows Events Logo">
				</div>

				<div id="nav-menu">
					<h1 class="header" style="cursor: pointer;" onClick="showMenu()">Menu</h1>
				</div>
				
				<div id="nav-blog" class="hide">
					<a href="#" class="no_bar">
						<h1 class="header">Blog</h1>
					</a>
				</div>
				<div id="nav-contact" class="hide">
					<a href="#" class="no_bar">
						<h1 class="header no_pad">Contact</h1>
					</a>
				</div>
			</div>
			
			<div class="swoosh">
				<img src="assets/swoosh_border.png" id="swoosh-big" class= "show" alt="Blue Horizontal Border">
				<img src="assets/swoosh_border_menu.png" id="swoosh-menu" class= "hide" alt="Blue Horizontal Border">
			</div>

		</div>

		<div id="call_out">	
			<div class="call_out-text">
				
				<h2>
					<span class="dropletter">V</span>ows Events. 
					Our mission is to bring your vision to reality, execute the details, 
					and strip the stress from event planning. Always exceeding our customers expectations, 
					we want our clients to forget about the details and enjoy their event. 
					<a href="#" class="no_bar"><span class="button">Contact</span></a> 
				</h2>
				
			</div>

			
		</div>

		<div id="sundry">
			<div class="sundry-wrapper">
				<div class="sundry-latest_event">
					<div class="left">
						<h1 class="heading">Latest Event-</h1>
						<p>
							<span class="blue thin">Dec 2013</span>
						</p>
					</div>
					<div class="right">
						<p>Jersey Gablov Wedding <br/>
						<a href="#" class="thin">view gallery</a>
						<a href="#" class="thin">read testimonial</a>
					</div>
				</div>
				<div class="sundry-social_media">
					<div>
						<a href="http://www.pinterest.com/vowseventsdenvr/" target="_blank" class="no_bar"><span class="pinterest"></span></a>
						<a href="https://twitter.com/VowsEventsDenvr" target="_blank" class="no_bar"><span class="facebook"></span></a>
					</div>
					<div>
						<a href="https://www.facebook.com/vowsevents" class ="no_bar" target="_blank"><span class="twitter"> </span></a>
					</div>
				</div>
				<div class="sundry-from_blog">
					<h1 class="heading">From Our Blog</h1>
					<p class="thin">We are proud to announce that Vows Events
					has a new blog!

					<a class="no_bar blue" href="#" style="margin-left: 15px">Read On</a>
					<span class="thin blue" style="float: right; margin-top: 30px; ">Jan 14, 2013</span></p>
				</div>
			</div>
		</div>
		
	</div>
	<div id="footer">
			<p class="thin blue">&copy; Vows Events, 2013</p>
		</div>
	
</body>
<script>
	function showMenu() {
		document.getElementById("swoosh-big").className = "hide";
		document.getElementById("swoosh-menu").className = "show";
		document.getElementById("logo-big").className = "hide";
		document.getElementById("logo-menu").className = "show";
		document.getElementById("navigation").className = "navigation-menu";
		document.getElementById("nav-services").className += " pad-right";
		document.getElementById("nav-gallery").className = "show";
		document.getElementById("nav-gallery").className += " pad-right";
		document.getElementById("nav-testimony").className = "show";
		document.getElementById("nav-testimony").className += " pad-right";
		document.getElementById("nav-about_us").className = "show";
		document.getElementById("nav-about_us").className += " pad-right";
		document.getElementById("nav-menu").className += " pad-right";
		document.getElementById("nav-blog").className = "show";
		document.getElementById("nav-blog").className += " pad-right";
		document.getElementById("nav-contact").className = "show";
		document.getElementById("logo-menu").className += " logo_small";
	}
</script>
</html>