<head>
	<title>Home</title>
</head>

<body>
	<div id="wrapper">
		<%= render "partials/navigation" %>
		<div id="call_out">	
			<div class="call_out-text">		
				<h2>
					<span class="dropletter">V</span>ows Events. 
					Our mission is to bring your vision to reality, execute the details, 
					and strip the stress from event planning. Always exceeding our customers expectations, 
					we want our clients to forget about the details and enjoy their event.
					<%= link_to contact_index_path, class: "no_bar" do %> 
						<span class="button">Contact</span>
					<% end %> 
				</h2>
			</div>
		</div>

		<div id="sundry">
			<div class="sundry-wrapper">
				<div class="sundry-latest_event">
					<div class="left">
						<h1 class="heading">Latest Event-</h1>
						<p>
							<span class="blue thin">Dec 2013</span>
						</p>
					</div>
					<div class="right">
						<p>Jersey Gablov Wedding <br/>
						<a href="#" class="thin">view gallery</a>
						<a href="#" class="thin">read testimonial</a>
					</div>
				</div>
				<div class="sundry-social_media">
					<div>
						<a href="http://www.pinterest.com/vowseventsdenvr/" target="_blank" class="no_bar"><span class="pinterest"></span></a>
						<a href="https://twitter.com/VowsEventsDenvr" target="_blank" class="no_bar"><span class="facebook"></span></a>
					</div>
					<div>
						<a href="https://www.facebook.com/vowsevents" class ="no_bar" target="_blank"><span class="twitter"> </span></a>
					</div>
				</div>
				<div class="sundry-from_blog">
					<h1 class="heading">From Our Blog</h1>
					<p class="thin">We are proud to announce that Vows Events
					has a new blog!

					<a class="no_bar blue" href="http://vowsevents.tumblr.com" style="margin-left: 15px">Read On</a>
					<span class="thin blue" style="float: right; margin-top: 30px; ">Jan 14, 2013</span></p>
				</div>
			</div>
		</div>
		
	</div>
	<div id="footer">
			<p class="thin blue">&copy; Vows Events, 2013</p>
		</div>
	
</body>

