<html>

<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600,600italic,700,700italic' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<div class="navigation" id="navigation">
				<div class="logo_small hide" id="logo-menu">
					<a href="../index2.html" class="no_bar">
						<img src="../assets/logo_small.png" alt="Vows Events Logo">
					</a>
				</div>
				<div id="nav-gallery" class="hide">
					<a href="#" class="no_bar">
						<h1 class="header">Gallery</h1>
					</a>
				</div>
				<div id="nav-services">
					<a href="html/services.html" class="no_bar">
						<h1 class="header">Services</h1>
					</a>
				</div>
				<div id="nav-about_us" class="hide">
					<a href="#" class="no_bar">
						<h1 class="header">About Us</h1>
					</a>
				</div>
				<div id="nav-testimony" class="hide">
					<a href="#" class="no_bar">
						<h1 class="header">Testimony</h1>
					</a>
				</div>
				<div class="logo" id="logo-big">
					<a href="../index2.html" class="no_bar">
						<img src="../assets/logo.png" alt="Vows Events Logo">
					</a>
				</div>

				<div id="nav-menu">
					<h1 class="header" style="cursor: pointer;" onClick="showMenu()">Menu</h1>
				</div>
				
				<div id="nav-blog" class="hide">
					<a href="#" class="no_bar">
						<h1 class="header">Blog</h1>
					</a>
				</div>
				<div id="nav-contact" class="hide">
					<a href="html/contact.html" class="no_bar">
						<h1 class="header no_pad">Contact</h1>
					</a>
				</div>
			</div>
			
			<div class="swoosh">
				<img src="../assets/swoosh_border.png" id="swoosh-big" class= "show" alt="Blue Horizontal Border">
				<img src="../assets/swoosh_border_menu.png" id="swoosh-menu" class= "hide" alt="Blue Horizontal Border">
			</div>
		</div>

		<div id="gallery-navigation">
			<ul>
				<li class="first">Jen &amp; Rob </li>
				<li>Lionel &amp; Karin</li>
				<li>The LaFleur Wedding</li>
			</ul>
			<h1>Gallery</h1>
		</div>
		<div id="gallery">
			<div class="gallery-images">
				<div id="measure">		
				<img src="../assets/photos/lafleur-1.jpg" id="left">
				<img src="../assets/photos/lafleur-3.jpg" id="center">
				<img src="../assets/photos/lafleur-2.jpg" id="right">
			</div>
			</div>
		</div>

		<div id="gallery-details">
			<div class="gallery-details-show" id="gds">
				<p>
					<a href="#" onclick="showGD()" class="thin">Show Wedding Details</a>
				</p>
			</div>

			<div class="hide gallery-details" id="gd">	
				<div>
					<p class="thin">
						Photography <br/>
						<a href="#" class="no_bar blue"> Sample Photographer </a>
					</p>
				</div>
				<div>
					<p class="thin">
						Catering <br/>
						<a href="#" class="no_bar blue"> Sample Caterer</a>
					</p>
				</div>
				<div>
					<p class="thin">
						Venue <br/>
						<a href="#" class="no_bar blue"> Sample Venue </a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<p class="thin blue">&copy; Vows Events, 2013</p>
	</div>
</body>

<script>

	// SHOW THE EXPANDED MENU
	// NOTE: THIS NEEDS TO BE MADE A TOGGLE EFFECT

	function showMenu() {
		// replace the header bottom border image
		document.getElementById("swoosh-big").className = "hide";
		document.getElementById("swoosh-menu").className = "show";
		// change the logo to the smaller ring logo and toss it all the way left
		document.getElementById("logo-big").className = "hide";
		document.getElementById("logo-menu").className = "show";
		document.getElementById("logo-menu").className += " logo_small";
		// change the navigation bar to full width
		document.getElementById("navigation").className = "navigation-menu";
		// add padding to each nav item and show those that are invisible
		document.getElementById("nav-services").className += " pad-right";
		document.getElementById("nav-gallery").className = "show";
		document.getElementById("nav-gallery").className += " pad-right";
		document.getElementById("nav-testimony").className = "show";
		document.getElementById("nav-testimony").className += " pad-right";
		document.getElementById("nav-about_us").className = "show";
		document.getElementById("nav-about_us").className += " pad-right";
		document.getElementById("nav-menu").className += " pad-right";
		document.getElementById("nav-blog").className = "show";
		document.getElementById("nav-blog").className += " pad-right";
		document.getElementById("nav-contact").className = "show";
	}

	// CENTER GALLERY IMAGES

	// find width of the center and left image
	var y = document.getElementById("center").offsetWidth;
	var z = document.getElementById("left").offsetWidth;
	// find what lies beyond the halfway point of the 1000px container div
	// by subtracting half of it from half of the center image and all of the left image
	var x = (y / 2) + z - 500;
	// set the left margin of the image container div as that surplus
	document.getElementById("measure").style.marginLeft= -x;



	// SHOW GALLERY DETAILS (or WEDDING DETAILS)
	// NOTE: AT THE MOMENT, THIS RESETS TO THE TOP OF THE PAGE. 
	// IDEALLY IT WON'T

	function showGD() {
		document.getElementById("gds").className = "hide";
		document.getElementById("gd").className = "show";
		document.getElementById("gd").className += " gallery-details";
	}
	

</script>
</html>