<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<title>Contact</title>
</head>

<body>
	<div id="wrapper">
		<%= render "partials/navigation" %>

		<form>
		<div id="contact-form">
			<div class="contact-column" style="margin-left: 160px">
				<p class="thin">Your Name
				<input type="text" name="name">
				<br/>

				Email Address
				<input type="text" name="email">
				<br/><br/>
				Are you (<span class="blue">please click one</span>)
				willing to answer a few more
				thorough questions right now?
				<br/>
				<span class="contact-navigation">yes</span>
				<span class="contact-navigation">no</span>
				</p>
			</div>
			<div class="contact-column ">
				
				What's your budget?

				List 4 adjectives that describe
				your perfect wedding

				Adjective 1
				Adjective 2
				Adjective 3
				Adjective 4

				Another question?
				yes
				no
			</div>


			<div class="contact-column ">
				We love incorporating your
				interests and hobbies: what do 
				you love do?

				Input for hobbies

				Would you like us to email
				you the full questionnaire?

				yes
				no
			</div>
			<div>
				Get in Touch

				Submit
			</div>
		</div>
		</form>
	</div>

	<div id="footer">
		<p class="thin blue">&copy; Vows Events, 2013</p>
	</div>
</body>
