<div class="photo_background" id="contact_background">
	<div id="wrapper">
		<%= render "partials/navigation" %>
		
		<%= form_tag("/contact", method: "post") do %>
			<div id="contact-form">
				<div class="contact-column" style="margin-left: 160px">
					<p class="thin">Your Name
							<input type="text" name="name">
						<br/>

						Email Address
							<input type="text" name="email">
						<br/>
					</p>

					<div id="contact-router">
						<p class="thin">
							<span style="display: block; margin: 26px 0 -31px 0;">Are you (<span class="blue">please click one</span>)</span>
							<label><input name="event_or_other" type="radio" value="Event"><span class="contact-navigation" onclick="showWQ()">planning an event</span></label>
							<label><input name="event_or_other" type="radio" value="Other"><span class="contact-navigation" id="other_message" onclick="showOM()">other</span></label>
						</p>
					</div>

					<div id="wedding-questions" class="hide">
						<p class="thin">
							<span style="display: block; margin: 26px 0 -31px 0;">Are you (<span class="blue">please click one</span>)
							willing to answer a few more
							thorough questions right now?</span>
							<br/>
							<span class="contact-navigation another-question-1" id="AQ1" onclick="showAQ1()">yes</span>
							<span class="contact-navigation" onclick="showOM()">no</span>
						</p>
					</div>
				</div>
				<div class="contact-column hide" id="om">
					<p class="thin"> Your Message 
						<textarea class="message_multi_line" name="other_message" rows="5" columns="100"></textarea>
					</p>
				</div>
				<div class="contact-column hide" id="another-question-1">
					<p class="thin">
						What type of event are you planning? (<span class="blue">select one</span>)
						<label><input name="event_type" type="radio" value="Wedding"><span id="event-wedding" class="contact-navigation" onclick="selectWD()">Wedding</span></label>
						<label><input name="event_type" type="radio" value="Social"><span class="contact-navigation" id="event-social" onclick="selectSO()">Social</span></label>
						<label><input name="event_type" type="radio" value="Corporate"><span class="contact-navigation" id="event-corporate" onclick="selectCO()">Corporate</span></label>
						<label><input name="event_type" type="radio" value="Other"><span class="contact-navigation" id="event-other" onclick="selectOT()">Other <span id=
							"other_direction" class="hide" style="color: #bbbdc0">(describe below)</span></span></label>
						<input id="other_event_type" type="text" name="other" class="hide">
						<br/>
						<span style="margin-top: 18px; margin-bottom: -27px; display: block;">Date range for your
							event?</span>
						<br/>
						<input type="text" name="date-range">
						
						<br/>
						<span style="margin-top: 18px; margin-bottom: -27px; display: block;">What's your budget?</span>
						<br/>
						<input type="text" name="budget">
					</p>
				</div>

				<div class="contact-column hide" id="another-question-2">
					<p class="thin">
						If you've selected a venue already, please
						describe below.
						<textarea class="multi_line" name="venue"></textarea>
						
						<br/><span class="would_you">
						Would you like us to email
						you the full questionnaire?
						</span><br/>
						<label><input name="questionnaire" type="radio" value="yes"><span class="contact-navigation another-question-3" onclick="yesQ()" id="yesQ">yes</span></label>
						<label><input name="questionnaire" type="radio" value="no"><span class="contact-navigation" onclick="noQ()" id="noQ">no</span>
					</p>
				</div>
				<div style="text-align: center">
					<h1 class="dg">Get in Touch</h1>
					
					<%= submit_tag "Submit", class: "button" %>
				</div>
			</div>
		<% end %>
	</div>
	<div id="footer">
		<p class="thin blue">&copy; Vows Events, 2013</p>
	</div>
</div>