
		<div id="wrapper">
			<%= render "partials/navigation" %>

			<form>
				<div id="contact-form">
					<div class="contact-column" style="margin-left: 160px">
						<p class="thin">Your Name
							<input type="text" name="name">
							<br/>

							Email Address
							<input type="text" name="email">
							<br/>

							<div id="contact-router">
								<p class="thin">
									<span style="display: block; margin: 26px 0 -31px 0;">Are you (<span class="blue">please click one</span>)
									<span class="contact-navigation" onclick="showWQ()">planning an event</span>
									<span class="contact-navigation" id="other_message" onclick="showOM()">other</span></span>
								</p>
							</div>
						</p>


						<div id="wedding-questions" class="hide">
							<p class="thin">
								<span style="display: block; margin: 26px 0 -31px 0;">Are you (<span class="blue">please click one</span>)
								willing to answer a few more
								thorough questions right now?</span>
								<br/>
								<span class="contact-navigation another-question-1" id="AQ1" onclick="showAQ1()">yes</span>
								<span class="contact-navigation" onclick="showOM()">no</span>
							</p>
						</div><!-- wedding-questions -->
					</div><!-- contact-column -->
					<div class="contact-column hide" id="om">
						<p class="thin"> Your Message 
							<textarea class="multi_line" name="other_message" rows="5" columns="100"></textarea>
						</p>
					</div>
					<div class="contact-column hide" id="another-question-1">
						<p class="thin">
							What type of event are you planning? (<span class="blue">please click one</span>)
							<span class="contact-navigation">Wedding</span>
							<span class="contact-navigation">Social</span>
							<span class="contact-navigation">Corporate</span>
							<span class="contact-navigation">Other <span style="color: #bbbdc0">(describe below)</span></span>
							<input type="text" name="other">
							<br/>
							<span style="margin-top: 18px; margin-bottom: -27px; display: block;">Date range for your
								event?</span>
							<br/>
							<input type="text" name="date-range">
							
							<br/>
							<span style="margin-top: 18px; margin-bottom: -27px; display: block;">What's your budget?</span>
							<br/>
							<input type="text" name="budget">
						</p>
					</div>


					<div class="contact-column hide" id="another-question-2">
						<p class="thin">

							If you've selected a venue already, please
							describe below.
							<textarea class="multi_line" name="hobbies"></textarea>
							
							<br/><span class="would_you">
							Would you like us to email
							you the full questionnaire?
							</span><br/>
							<span class="contact-navigation another-question-3">yes</span>
							<span class="contact-navigation">no</span>
						</p>
					</div>
					<div style="text-align: center">
						<h1 class="dg">Get in Touch</h1>

						<span class="button">Submit</span>
					</div>
				</div><!-- contact-form -->
			</form>
		</div>
		<div id="footer">
			<p class="thin blue">&copy; Vows Events, 2013</p>
		</div>

		<script>
			function showAQ1() {
				document.getElementById("another-question-1").className = "show";
				document.getElementById("another-question-1").className += " contact-column";
				document.getElementById("another-question-2").className = "show";
				document.getElementById("another-question-2").className += " contact-column";
				document.getElementById("AQ1").className = "yes_to_AQ"; }
			function showWQ() {
				document.getElementById("contact-router").className = "hide";
				document.getElementById("wedding-questions").className = "show"; }
			function showOM() {
				document.getElementById("om").className = "show";
				document.getElementById("om").className += " contact-column";
				document.getElementById("other_message").className = "yes_to_AQ"; }
		</script>