#measure {
	position: relative;
	overflow: hidden;
	height: 390px;
}

.long-div {
	position: absolute;
}

.photos {
	/*position: absolute;*/
}

#photo_count {
	display: none;
}

li.first { 
	font-size: 15pt;
	background-image: none; }

