#measure {
	position: relative;
}

.photos {
	position: absolute;
	z-index: 0;
	overflow: hidden;
}

.active {
	position: relative;
	z-index: 1;
}

#photo_count {
	display: none;
}

li.first { 
	font-size: 15pt;
	background-image: none; }